/* Part 2 */
/* s to style the web page */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");

#root {
  width: 50vw;
  height: 80vh;
  background-color: white;
  overflow: scroll;
  box-shadow: 3px 3px 3px white;
  border-radius: 30px;
  border: black;
  border: 2px 2px;
  padding: 1em;
}

.profiles {
  margin-top: 2em;
}

.profile {
  padding: 1em;
}

.photo {
  width: 5em;
  height: 5em;
  border-radius: 50%;
  border-style: solid;
  border-width: thin;
  border-color: silver;
}

.name {
  font-family: "Raleway", sans-serif;
  font-weight: 900;
  font-size: 2em;
  text-transform: uppercase;
  margin-left: 50px;
}

.searchSection,
.indent {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 1.3em;
  line-height: normal;
}

.indent {
  margin-left: 3em;
  /* line-height: normal; */
}

.searchSection {
  z-index: 1;
  position: absolute;
  top: 10.3vh;
  display: flex;
  flex-direction: column;
  width: 48vw;
  line-height: 2.2em;
}

input {
  border-color: silver;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

.a {
  text-decoration-line: none;
}

i {
  font-size: 2.5em;
  color: silver;
  display: flex;
  flex-direction: row-reverse;
}

.tests {
  font-size: 0.8em;
  line-height: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 1em;
  display: none;
}

label {
  margin: 0.2em;
  margin-bottom: 0.8em;
  background-color: silver;
  padding: 0.6em;
  width: fit-content;
  border-radius: 0.1em;
  font-size: 0.8em;
}
